@font-face {
    font-family: 'moderastic';
    src: url(../../../public/fonts/Moderustic-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'moderustic';
    src: url(../../../public/fonts//Moderustic-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'moderustic';
    src: url(../../../public/fonts/Moderustic-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: 'square';
    src: url(../../../public/fonts/square.otf);
    font-weight: normal;
}

$color-background: #050402;
$color-light-color-text: #FAF6F2;
$color-dark-color-text: #3E424B;
$color-light-bg: #EEEEEE;
$color-gold: #BB8C5F;
$color-white-card: #F4F4F4;


@mixin link-font{
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: $color-light-color-text;
}

body{
    background: #EEEEEE;
}