.dashboard{
    &_container{
        width: 100%;
        height: 100vh;
        display: flex;
        position: relative;
        background-image: url(../../../public/image/logo/logogold.png);
        background-position: center ;
        background-repeat: no-repeat;
        &::before{
            content: '';
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(228, 226, 226, 0.664);
        }
    }
    &_panel{
        width: 250px;
        height: 100vh;
        box-shadow: 4px 7px 12px -3px black;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: rgb(255, 255, 255);
    }
    &_btn{
        width: 90%;
        height: 45px;
        margin-top: 12px;
        margin-bottom: 12px;
        border: 1px solid rgba(0, 0, 0, 0.192);
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
        cursor: pointer;
        transition: all .3s ease;
        text-align: center;
        color: black;
        &:hover{
            background: rgba(0, 0, 0, 0.192);
        }
    }
    &_nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        padding-top: 36px;
        & > h2{
            text-align: center;
            padding-bottom: 26px;
        }
        &_btn{
            width: 100%;
            height: 45px;
            margin: 2px;
            border: 1px solid rgba(0, 0, 0, 0.192);
            padding-top: 8px;
            padding-right: 12px;
            font-size: 18px;
            cursor: pointer;
            transition: all .3s ease;
            text-align: right;
            color: black;
            &:hover{
                background: rgba(0, 0, 0, 0.192);
            }
        }
    }
    &_link{
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 18px;
        cursor: pointer;
        transition: all .3s ease;
        text-align: right;
        color: black;
        padding: 6px 18px;
        border-radius: 3px;
        &:hover{
            background: rgba(0, 0, 0, 0.048);
            box-shadow: 4px 7px 12px -3px rgba(0, 0, 0, 0.219);
        }
    }
    &_body{
        z-index: 99;
        width: calc(100% - 220px);
        margin-left: 200px;
        margin-top: 100px;
        margin-bottom: 34px;
        box-shadow: 4px 7px 12px -3px rgba(0, 0, 0, 0.349);
        border: 1px solid rgba(0, 0, 0, 0.048);
        background: rgb(236, 236, 236);
        border-radius: 3px;
        overflow-y: scroll;
        height: 80vh;
        position: relative;
        display: none;
    }
}

.dashboard_visible{
    display: flex;
    &_btn_active{
        background: rgba(0, 0, 0, 0.192);
        box-shadow: 4px 7px 12px -3px rgba(0, 0, 0, 0.219);
    }
}

.dashboard_not_visible{
    display: none;
}

.closed_btn_modal{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 23px;
    color: red;
    cursor: pointer;
}

.dashboard_modal{
    margin: 30px;
    width: 100%;
    min-height: 468px;
    &_body{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
}

.dashboard_table{
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &_body{
        display: flex;
        flex-direction: column;
        &_column{
            border: 1px solid black;
            flex: 1 1;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 12px;
            padding-right: 12px;
        }
        &_row{
            display: flex;
        }
    }
    &_add{
        width: 235px;
    }
}

.dashboard_table_image{
    width: 200px;
    height: 200px;
    &> img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.upload_form{
    background: rgba(0, 0, 0, 0.479);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    backdrop-filter: blur(5px);
    z-index: 990;
    align-items: center;
    justify-content: center;
    &_body{
        width: 678px;
        min-height: 423px;
        background: white;
        border-radius: 3px;
        position: relative;
        display: flex;
        align-items: center;
    }
}

.modal_form{
    margin-top: 25px;
    margin-left: 25px;
    width: 100%;
    &_body{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        &_block{
            display: flex;
            justify-content: space-evenly;
            &_content{
                width: 45%;

            }
            &_input{
                display: flex;
                flex-direction: column;
                margin-top: 25px;
                & >label {
                    padding-left: 8px;
                    font-size: 12px;

                }
                &> input{
                    border: 1px solid black;
                    border-radius: 3px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    width: 100%;
                    padding-left: 12px;
                    font-size: 16px;
                }
                &> textarea{
                    border: 1px solid black;
                    border-radius: 3px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    width: 100%;
                    padding-left: 12px;
                    font-size: 16px;
                }
            }
            &_btn{
                display: flex;
                flex-direction: column;
                margin-top: 25px;
                width: 90%;
                & >label {
                    padding-left: 8px;
                    font-size: 12px;

                }
                &> input{
                    border-radius: 3px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    width: 45%;
                    padding-left: 12px;
                    font-size: 16px;
                }
            }
        }
    }
}

.success{
    text-align: center;
    color: green;
    font-weight: 600;
}

.error{
    text-align: center;
    color: red;
    font-weight: 600;
}

.edit_btn{
    height: 60px;
}

.confirmation{
    &_body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &> p{
            color: red;
            font-weight: 500;
        }
    }
    &_btn{
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 60px;
        margin-top: 25px;
        &_perv{
            width: 45%;
            height: 100%;
        }
    }
}


.nav_list{
    text-align: right;
    width: 100%;
    // overflow: hidden;
    display: none;
    &_content{
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 12px;
        box-shadow: 4px 7px 12px -3px rgb(165, 165, 165);
        &> li{
            margin-bottom: 12px;
            padding-bottom: 8px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 100%;
                width: 70%;
                height: 1px;
                background: black;
                z-index: 99;
                transition: all .3s ease;
            }
            &:hover{
                &::after{
                    left: 30%;
                }
            }

        }
    }
}